/* --------  CSS RESET  -------- */
*, *::before, *::after {
    box-sizing: border-box;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ---------- Styling --------------- */


html {
    height: 100%;
}
body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    color:white;
    background-color: hsl(257, 40%, 49%);
    background-image: url(./images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 600px auto;
}

main {
    flex-grow: 1;
    display:flex;
    flex-direction: column;
    align-items: center;

}

@media screen and (min-width:768px) {
    body {
        background-image: url(./images/bg-desktop.svg);
        background-repeat: no-repeat;
        background-position:center center;
        background-size: cover;
    }

    main {
        flex-direction: row;
        justify-content:center;
    }
}

.hero {
    padding: 2rem 2rem 3rem 2rem;
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: stretch;
    max-width: 33rem;
}

@media screen and (min-width:768px) {
    .hero {
        width:55%;
        height:auto;
        max-width: unset;
    }
}
.huddle {
    width: 40%;
    height: auto;
    margin: 1rem 0 4rem 0;
}

.mockups {
    width: 100%;
    height: auto;
}

@media screen and (min-width:768px) {
    .huddle {
        width: 30%;
    }
    .mockups {
        width: 100%;
        max-width: 95vmin;
        min-width:25rem;
    }
}

.info {
    max-width: 40rem;
    width: 80%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width:768px) {
    .info {
        width: 35%;
        align-items: flex-start;
    }
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.4;
    text-align: center;
}

@media screen and (min-width:768px) {
    h1 {
        font-weight: 700;
        font-size: 2.1rem;
        line-height: 1.6;
        text-align: left;
        width: 70%;
    }
}

p {
    font-size: 1.1rem;
    line-height: 1.6;
    text-align: center;
    padding: 2rem 0;
}

@media screen and (min-width:768px) {
    p {
        font-size: 1.1rem;
        line-height: 1.6;
        text-align: left;
        padding: 2rem 0;
    }
}

button {
    font-family: 'Poppins', sans-serif;
    color: hsl(257, 40%, 49%);
    background-color: white;
    border-radius: 3rem;
    border: none;
    padding: 0.7rem 5rem;
    margin-bottom: 2rem;
    box-shadow: 0px 3px 3px 1px hsl(257, 41%, 35%);
}

@media screen and (min-width:768px) {
    button {
        padding: 0.8rem 4rem;
    }
}
.social {
    padding-bottom: 1rem;
}
.social-icon {
    font-size:1rem;
    color:white;
    border: 1px solid white;
    padding: 0.2rem;
    margin: 0 0.25rem;
    border-radius: 1rem;
}

@media screen and (min-width:768px) {
    .social {
        padding-bottom: 1rem;
        align-self: flex-end;
        position:relative;
    }

    .social-icon {
        border: 1px solid white;
        padding: 0.7rem;
        margin: 0 0.45rem;
        border-radius: 2rem;
    }
}
.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}
