/* --------  CSS RESET  -------- */
*, *::before, *::after {
    box-sizing: border-box;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ---------- Styling --------------- */

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

html {
    height: 100%;
}
body {
    min-height: 100%;
    font-family: 'Open Sans', sans-serif;
    color:white;
}

main {
    display:flex;
    flex-direction: column;
    background-color: hsl(257, 40%, 49%);
    align-items: center;
    background-image: url(./images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 30rem auto;
}

.hero {
    padding: 2rem;
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: stretch;
    padding-bottom: 3rem;
    max-width: 30rem;
}

.huddle {
    width: 40%;
    height: auto;
    margin: 1rem 0 4rem 0;
}

.mockups {
    width: 100%;
    height: auto;
}

.info {
    max-width: 30rem;
    width: 80%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.4;
    text-align: center;
}

p {
    font-size: 1.1rem;
    line-height: 1.6;
    text-align: center;
    padding: 2rem 0;
}

button {
    font-family: 'Poppins', sans-serif;
    color: hsl(257, 40%, 49%);
    background-color: white;
    border-radius: 3rem;
    border: none;
    padding: 0.7rem 5rem;
    margin-bottom: 2rem;
    box-shadow: 0px 3px 3px 1px hsl(257, 41%, 35%);

}